.container-card {
  height: 50%;
  width: 30%;
  box-shadow: 0 8px 25px black;
  border-radius: 8px;
  padding-bottom: 20px;

  margin-top: 20px;
  background-color: rgb(119, 119, 119);
  box-shadow: 0 0 15px rgba(134, 134, 134, 0.329);
  position: relative;
  border: 1px red solid;
}

.card-img-container {
  width: 100%;
  height: 80%;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  z-index: 3;
}
.weights-title {
  z-index: 2;
  height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.info {
  margin: 12px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}
.Product-name,
.Product-weight,
.Product-price {
  z-index: 2;
  font-size: 15px;
  font-weight: 600;

  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.add-basket {
  z-index: 2;
  position: absolute;
  font-size: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.644);
  opacity: 0;
}
.basket-btn {
  position: absolute;
  left: 42%;
  top: -20%;
  transform: rotate(-40deg);
  font-size: 150px;
}
.add-basket:hover {
  opacity: 1;
  transition: ease 0.7;
  cursor: pointer;
}
