@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
.title {
  font-size: 3em;
  color: aliceblue;
  font-family: "Staatliches", cursive;
  text-shadow: 0 0 25px black, 0 0 20px rgb(255, 38, 0);
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.container-cardcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-evenly;
  width: 80vw;
  height: 55vh;
  align-items: center;
  padding: 20px;
  border: solid red 1px;
  margin: auto;
  border-radius: 20px;
  gap: 40px;
}
.img-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 22%;
  left: 0;
  min-height: 25vh;
  width: 100vw;
  border-radius: 8px;
  margin-bottom: 40%;
  background: linear-gradient(black, rgb(136, 19, 4));
}
.second-img {
  height: 100%;
  width: 50%;
  border-radius: 10px;
  position: absolute;
  top: 70%;
  left: 25%;
  background-image: url(../images/push.jpeg);
  background-position: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: none;
  box-shadow: 0 0 32px rgb(59, 59, 59);
}
.slogan {
  position: absolute;
  top: 20%;
  font-family: "Modak", cursive;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 100%;
  font-size: 4rem;
  color: orangered;
  -webkit-text-stroke: 1px black;
}
