.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  min-height: 90vh;
  max-height: 80vh;
  top: 55%;
  left: 25%;
  width: 50%;
  justify-content: space-around;
  margin-bottom: 200px;
  margin-top: 200px;
}

.Access-link,
.Weights-link,
.Calis-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: black;
  margin: auto;
  position: relative;
  width: 40vw;
  height: 150px;
  box-shadow: 0 0 22px black;
  border-radius: 12px;
  text-shadow: 0 0 30px black;
  -webkit-text-stroke: black solid 1px;
}
.Access-link {
  background-image: url(./images/accessories.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Weights-link {
  background-image: url(./images/weights.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Calis-link {
  background-image: url(./images/calis.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  text-shadow: 0 0 30px black;
  -webkit-text-stroke: black solid 1px;
}
.Access-link:hover,
.Calis-link:hover,
.Weights-link:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.filter-title {
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: 700;
  text-shadow: 0 0 32px black;
}
