
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,400&family=Roboto:wght@100;300&display=swap');

.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(245, 241, 241) 100%); */
  background: black;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  transform: translate(-50%, -50%);
  top: 5%;
  left: 50%;
  width: 100vw;
  position: fixed;
  box-shadow: 0 -20px 50px rgb(0, 162, 255);
  z-index: 999;
}
.navbar.active {
  background: none;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 250px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
}

.nav-item {
  height: 80px;
}

.nav-links {
  font-family: 'Roboto', sans-serif; 
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 1rem;
  height: 100%;
}
.nav-links-cart {
  color: rgb(0, 162, 255);
  font-size: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 1rem;
  height: 100%;
}
.nav-links:hover {
  border-bottom: 2px solid #fff;
  transition: all 0.2s ease-out;
}
.nav-links-cart:hover {
  border-bottom: 2px solid #fff;
  transition: all 0.2s ease-out;
}
.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
/* @media screen and (max-width: 960px) {
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background:#010218;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: #0a19e2;
        border-radius: 0;
    }
    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times{
        color: rgb(240, 10, 10);
        font-size: 2rem;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #3205fa;
        text-decoration: none;
        color: rgb(105, 4, 4);
        font-size: 1.5rem;
    }
    .nav-links-mobile:hover{
        background-color: #fff;
        color: #020631;
        transition: 250ms;
    }
    Button{
        display:none;
    }
} */
