.NavbarItems {
  background: linear-gradient(90deg, rgb(10, 10, 14) 0%, rgb(8, 4, 85) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}
.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: none;
  margin-right: 2rem;
}
.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
a:hover {
  text-shadow: 0 5px 15px white;
  transition: all 0.2s ease-out;
  filter: brightness(2);
}
.fa-bars {
  color: rgb(231, 48, 2);
}
.nav-links-mobile {
  display: none;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #010218;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #0a19e2;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: rgb(240, 10, 10);
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #3205fa;
    text-decoration: none;
    color: rgb(105, 4, 4);
    font-size: 1.5rem;
  }
  .nav-links-mobile:hover {
    background-color: #fff;
    color: #020631;
    transition: 250ms;
  }
}

.Navbar {
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 5%;
  left: 50%;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 60%,
    rgba(65, 64, 64, 0.945)
  );
  margin: 0;
}

.navbar-container {
  display: flex;
  width: 100vw;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: right;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

/* }
@media screen and (max-width: 960px) {
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background:#010218;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: #0a19e2;
        border-radius: 0;
    }
    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times{
        color: rgb(240, 10, 10);
        font-size: 2rem;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #3205fa;
        text-decoration: none;
        color: rgb(105, 4, 4);
        font-size: 1.5rem;
    }
    .nav-links-mobile:hover{
        background-color: #fff;
        color: #020631;
        transition: 250ms;
    }
    Button{
        display:none;
    }
} */
