Nav {
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 9%;
  left: 50%;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  min-height: 5vh;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  background: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.555));
}
.nav-links {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 80%;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  text-align: center;
  list-style-type: none;
}
li {
  text-decoration: none;
}

li:hover,
li:focus {
  background: -webkit-linear-gradient(
    90deg,
    rgb(255, 140, 0) 50%,
    rgb(247, 247, 247) 50%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
