body {
  margin: 0;

  background-color: black;
}
.container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  background: rgb(218, 218, 218);
}

.nav-links {
  text-decoration: none;
  display: flex;
  position: sticky;
  width: 90%;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  text-align: center;
}
.home {
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: space-between;

  left: 5%;
  top: 40%;
  align-items: center;
}
.weightss {
  display: flex;
  position: relative;
  height: 80vh;
  width: 100vw;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.filters {
  background-color: rgba(255, 255, 255, 0.329);
  justify-content: center;
  height: 100%;
  width: 20%;
  align-items: center;
  text-align: center;
  position: relative;
}
.content {
  background-color: rgba(255, 255, 255, 0.137);
  align-items: center;
  text-align: center;
  height: 100%;
  width: 80%;
  position: relative;
}
.weightss > .filters {
  flex-basis: 1 1 30%;
}
.weightss > .contents {
  flex-basis: 1 1 70%;
}
.page-changes {
  position: relative;
  background: silver;
  width: 100%;
  height: 9vh;
  align-items: center;
  text-align: center;
}

p {
  color: black;
}
.pages-buttons {
  display: flex;
  position: relative;
  top: 50%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 75%;
  text-transform: uppercase;
  font-size: 20px;

  padding-bottom: 40px;
}
button {
  border: none;
  border-radius: 8px;
  width: 60px;
  height: 40px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  border: 1px solid grey;
  background: (rgb(255, 255, 255), rgb(114, 112, 112));
  transition: ease 0.5s;
  margin-top: 80px;
}
button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
