.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

Nav {
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 9%;
  left: 50%;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  background: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.555));
  margin: 0;
}
.nav-links {
  text-decoration: none;
  display: flex;
  position: sticky;
  width: 90%;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  text-align: center;
}
.home {
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: space-between;
  text-shadow: 0 0 10px black;
  left: 5%;
  top: 40%;
  align-items: center;
}
footer {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.733) 10%, rgb(0, 0, 0));
  height: 8vh;
  position: sticky;
}
